<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Delivery Partner Register<span>  <a href="./showpartner.html" class="btn btn-success" role="button">Show details</a></span></h1>
</div>
  
<div id="main">
<div class="container">
    <form @submit.prevent="addUser">
        <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">First Name</label>
              <input v-model="datapost.firstname" type="text" class="form-control" id="inputname" placeholder="First Name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Last Name</label>
              <input v-model="datapost.lastname" type="text" class="form-control" id="inputPassword4" placeholder="Last Name" required>
            </div>
          </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">D.O.B</label>
            <input v-model="datapost.dob" type="date" class="form-control" id="inputEmail4" placeholder="D.O.B" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Proof</label>
            <input v-model="datapost.proof" type="text" class="form-control" id="inputPassword4" placeholder="Address Proof" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input v-model="datapost.address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
              <label for="inputEmail4">License</label>
              <input v-model="datapost.license" type="text" class="form-control" id="inputEmail4" placeholder="License" required>
            </div>
            <div class="form-group col-md-4">
              <label for="inputPassword4">Blood Group</label>
              <input v-model="datapost.bloodgroup" type="text" class="form-control" id="inputPassword4" placeholder="Blood Group" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPassword4">Phone Number</label>
                <input v-model="datapost.phone" type="text" class="form-control" id="inputPassword4" placeholder="Phone Number" required>
              </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Email</label>
            <input v-model="datapost.email" type="email" class="form-control" id="inputAddress" placeholder="Email" required>
          </div>
        <button class="btn btn-primary">Register</button>
      </form>
 
</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
<script>
    const config={
        apiKey: "AIzaSyANHwNIaWsBbiovGDDhy-v9bCaqMVSdtic",
    authDomain: "fir-ac1d9.firebaseapp.com",
    databaseURL: "https://fir-ac1d9-default-rtdb.firebaseio.com",
    projectId: "fir-ac1d9",
    storageBucket: "fir-ac1d9.appspot.com",
    messagingSenderId: "698120152384",
    appId: "1:698120152384:web:2a59a32b1cab3e577006a5"
    };

   firebase.initializeApp(config);
   const db= firebase.firestore()
   const colection=db.collection('user')
    
    new Vue({
        el:'#main',
        data:{
            age:null,
            name:null,
            datapost: {},
            user:[]
        },
        mounted(){
            
            colection.get().then((r)=>r.docs.map((item)=>this.user.push({id:item.id,data:item.data()})))
            this.user=[]
        },
        methods:{
            addUser(){
                colection.add(
                   this.datapost
                ).then(()=>this.$mount())
                alert('insert success');
                this.datapost=""
                
            },
            updateUser(id){
                colection.doc(id).set({name:this.name,age:this.age}).then(()=>this.$mount())
                this.name="",
                this.age=""
            },
            deleteUser(id){
                colection.doc(id).delete().then(()=>this.$mount())
            }
        }
    })
</script>
</body>
</html>
